<!--pagina para validar login para conceder acesso a pagina admin-->
<!--   **************          CSS DISSO TA EM STYLES_ADMIN.CSS    ********************              -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles_admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

    <script src="scripts.js" defer></script>
    <title>Portifolio</title>
</head>

<body>
    <main class="mainPrincipal">
        <div class="area_formulario">
            <div class="hero">
                <img src="../imgs/logo_marca.png" alt="logo">
            </div>

            <div class="formulario">
                <form action="" class="form">
                    <div class="linp">
                        <label for="usuario">Usuário:</label>
                        <input type="text" name="usuario" required>
                    </div>

                    <div class="linp">
                        <label for="senha">Senha:</label>
                        <input type="text" name="senha" required>
                    </div>

                    <button class="btn">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>